/* Import Lora font from Adobe Fonts */
@import url("https://use.typekit.net/mbd1prr.css");

/* Import Manrope font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

 /* CSS variables */
 :root {
    --font-heading: "lora", serif;
    --font-body: "Manrope", sans-serif;
 }

h1, h2 {
    font-family: var(--font-heading);
    text-align: center;
}

 h1 {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px 0 -5px 0;
 }

 h2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 20px;
 }

 p {
    font-family: "Manrope", sans-serif;
 }