/* Import Lora font from Adobe Fonts and Manrope font from Google Fonts */
@import url("https://use.typekit.net/mbd1prr.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* CSS variables */
:root {
  --font-heading: "lora", serif;
  --font-body: "Manrope", sans-serif;

  --primary-dark: #34312d;
  --secondary-dark: #57544c;
  --background-white: #f6f6f8;
  --background-offwhite: #f0e7d8;
  --accent-colour: #581908;
}

/* General styles */

body {
  font-family: var(--font-body);
  background-color: var(--background-white);
  color: var(--primary-dark);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.section {
  scroll-margin-top: 4rem;
}

/* section boxes */
#about, #portfolio, #contact, #success, #error {
  background-color: var(--background-white);
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.section-title {
  color: var(--primary-dark);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* buttons */
#contact button,
#success .btn,
#error .btn {
  background-color: var(--accent-colour);
  color: var(--background-white);
  border: none;
  border-radius: 8px;
}

.section-description {
  color: var(--secondary-dark);
  font-family: var(--font-body);
  line-height: 1.5rem;
}

/* Span classes */

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

/* Navbar */

#navbar {
  background-color: var(--background-offwhite);
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 71px;
  z-index: 99;
  transition: top 0.4s ease-in-out, opacity 0.5s ease-in-out;
  box-shadow: -1px 2px 2px 1px rgb(172, 158, 132, 0.1);
}

/* utilising class to hide the navbar by adding the class with JS when user scrolls - taken from W3 schools, referenced in README.md */
#navbar.hide {
  top: -100px;
  opacity: 0;
}

#navbar .logo {
  color: var(--primary-dark);
}

#logo-text h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

#logo-text p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

#navbar .icon {
  font-size: 1.5rem;
  color: var(--accent-colour);
}

#navbar .navbar-toggler {
  border: none;
  margin-top: -3px;
}

/* remove Bootstrap property causing burger icon to highlight when clicked */
#navbar .navbar-toggler:focus {
  box-shadow: none;
}

#navbar a {
  color: var(--primary-dark);
}

#navbar .nav-link {
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.15s ease;
}

#navbar .nav-link.active {
  color: var(--background-white);
  background-color: var(--accent-colour);
}

#navbar .nav-link{
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Header section */

#header {
   height: 100vh;
}

.header-section {
  height: 90vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 4% 80%;
}

@keyframes arrow-scroller {
  0% {bottom: 2%; opacity: 0;}
  10% {bottom: 2%; opacity: 0;}
  20% {bottom: 2%; opacity: 1;}
  40% {bottom: 2%; opacity: 1;}
  55% {bottom: 1%; opacity: 1;}
  65% {bottom: 1.5%; opacity: 1;}
  75% {bottom: 1%; opacity: 1;}
  100% {bottom: 1%; opacity: 0;}
}

.scroll-arrow {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--accent-colour);
  opacity: 0;
  animation: arrow-scroller 2s ease-in-out backwards infinite;
}

.cta-wrapper {
  background-color: var(--background-offwhite);
  opacity: 0.92;
  width: auto;
  height: auto;
  padding: 1rem;
  box-shadow: -1px 2px 2px 1px rgb(172, 158, 132, 0.1);
}

.cta-wrapper h2 {
  font-size: 1.25rem;
  color: var(--primary-dark);
  letter-spacing: 0px;
}

.cta-wrapper .btn {
  background-color: var(--accent-colour);
  color: var(--background-white);
  border: 1px solid var(--primary-dark);
  font-family: var(--font-heading);
  border-radius: 8px;
  font-size: 0.95rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* About section */

#about i {
  color: var(--accent-colour);
}

.about-flavour-text {
  color: var(--accent-colour);
  background-color: var(--background-offwhite);
  box-shadow: 0 1px 8px 3px rgb(172, 158, 132, 0.3);
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: right;
}

/* Portfolio section */

/* override Bootstrap card class */
#portfolio .card {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--primary-dark);
}

#portfolio .card img {
  max-width: 100%;
  height: auto;
}

#portfolio .card-title {
  font-family: var(--font-body);
  font-size: 1.25rem;
  letter-spacing: 1px;
}

#portfolio .card-footer {
  font-size: 1rem;
  color: var(--secondary-dark);
  background-color: var(--background-white);
  text-align: end;
  letter-spacing: -0.25px;
}

#portfolio a {
  color: var(--accent-colour);
  text-decoration: none;
}

/* Contact section */

#contact form {
   width: 100%;
}

#contact .form-box {
  background-color: var(--background-offwhite);
  max-width: 450px;
}

#contact input, 
#contact select,
#contact textarea {
  border-radius: 0%;
  box-shadow: -1px 2px 2px 1px rgb(172, 158, 132, 0.3);
  margin-top: 3px;
}

#contact .contact-img {
  display: none;
}

/* Footer section */

#footer {
  color: var(--primary-dark);
  background-color: var(--background-offwhite);
  font-size: 0.85rem;
  text-align: center;
}

#footer a {
  color: var(--accent-colour);
  text-decoration: none;
  font-size: 1.25rem;
}

#footer ul {
  justify-content: center;
}

#footer hr {
  border: none;
  background-color: var(--primary-dark);
  width: 2rem;
  height: 1px;
  margin: 1rem auto;
}

#footer .location-heading {
  font-size: 0.95rem;
  margin: 0;
  padding: 5px 0;
}

#footer .dev-credit {
  font-size: 11.9px;
  color: var(--accent-colour);
}

/* Success and Error pages */

#success,
#error {
  margin-top: 72px;
}
#success .row,
#error .row {
  height: 60vh;
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  body {
    background-color: var(--background-offwhite);
  }

  /* Navbar */

  #logo-text h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  #logo-text p {
    font-size: 1.25rem;
    margin-top: -5px
  }

  /* Header section */

  .header-section {
    height: 100vh;
  }

  .cta-wrapper {
  width: 35vw;
  }

  /* About, Contact section, Success, Error pages */
  /* creates the off-white boundaries between sections */

  #about, #contact, #success, #error {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Footer section */

  #footer {
    background-color: var(--background-white);
    text-align: left;
  }

  #footer a {
    color: var(--primary-dark);
  }

  #footer hr {
    height: 1px;
    margin: 1rem 0;
  }

  /* Success page */

  #success,
  #error {
    margin-top: 79px;
  }
}

/* Large screens (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

  /* Header section */

  /* scroll indicator to show on larger screens only when header section is hovered */
  .scroll-arrow {
    font-size: 2.5rem;
    animation: none;
  }

  .header-section:hover .scroll-arrow {
    animation: arrow-scroller 2s ease-in-out backwards infinite;
  }

  .cta-wrapper {
    width: 25vw;
  }

  /* About section */

  #about .section-flavour-text {
    font-size: 2rem;
  }

  /* Portfolio section */

   #portfolio img {
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
  }

  /* Contact section */

  #contact .form-box {
    max-width: 100%;
  }

  #contact .contact-img {
    display: block;
  }

  #contact .contact-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Extra large screens (desktop or wide screen, 1200px and up )*/
@media screen and (min-width: 1200px) {

  /* Navbar */

  #navbar .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Header section */
  
  .cta-wrapper {
    width: 20vw;
  }

  /* About section */
  
  #about .section-flavour-text {
    font-size: 2.5rem;
    padding: 2rem 1rem;
  }

  #about .section-flavour-text .display-3 {
    font-size: 5rem;
  }

  /* Portfolio section */

  #portfolio .ludlow-pebble {
    order: -3;
  }

  #portfolio .elmore-jazz {
    order: -2;
  }

  #portfolio .slate-nordica {
    order: 1;
  }

  #portfolio .spring-cotton {
    order: -1;
  }
}
