/* Import Lora font from Adobe Fonts and Manrope font from Google Fonts and Manrope font from Google Fonts */
@import url("https://use.typekit.net/mbd1prr.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* CSS variables */
:root {
  --font-heading: "lora", serif;
  --font-body: "Manrope", sans-serif;
}

/* General styles */

body {
  font-family: var(--font-body);
  /* push body content underneath fixed nav */
  /* margin-top: 71px; */
  background-color: #f5f5f5;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.section-title {
  /* color: */
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-flavour-text {
  /* color: */
  background-color: white;
  box-shadow: 0 1px 8px 1px rgba(164, 154, 135,0.2);
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 4rem 1.5rem;
  text-align: right;
}

.section-description {
  /* color: */
  font-family: var(--font-body);
  font-size: 0.95rem;
  line-height: 1.5rem;
}

/* Span classes */

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

/* Navbar */

#navbar {
  background-color: white;
  opacity: 0.8;
  min-height: 71px;
}

#navbar .logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#logo-text h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

#logo-text p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

#navbar .icon {
  font-size: 1.5rem;
}

#navbar .navbar-toggler {
  border: none;
  margin-top: -3px;
}

/* remove Bootstrap property causing burger icon to highlight when clicked */
#navbar .navbar-toggler:focus {
  box-shadow: none; /* replace with --secondary-colour for accessibility */
}

#navbar .book-form-btn {
  order: -1;
}

/* Header section */

#header {
   height: 100dvh;
   margin-bottom: 2rem;
}

.header-section {
  height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 4% 80%;
}

@keyframes arrow-scroller {
  0% {bottom: 2%; opacity: 0;}
  10% {bottom: 2%; opacity: 0;}
  20% {bottom: 2%; opacity: 1;}
  40% {bottom: 2%; opacity: 1;}
  55% {bottom: 1%; opacity: 1;}
  65% {bottom: 1.5%; opacity: 1;}
  75% {bottom: 1%; opacity: 1;}
  100% {bottom: 1%; opacity: 0;}
}

.scroll-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black; /* change to match colour scheme */
  opacity: 0;
  animation: arrow-scroller 2s ease-in-out backwards infinite;
}

/* About section */

#about {
  background-color: white;
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
}

/* Portfolio section */

#portfolio {
  background-color: white;
  width: 100%;
}

/* override Bootstrap card class */
#portfolio .card {
  border: none;
  border-radius: 0;
}

#portfolio .card img {
  max-width: 100%;
  height: auto;
}

#portfolio .card-title {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

#portfolio .card-footer {
  font-size: 0.75rem;
  color: #6b6b6b;
  background-color: white;
  text-align: end;
}


/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Navbar */

  #logo-text h1 {
    font-size: 1.75rem;
    letter-spacing: 2px;
  }
  #logo-text p {
    font-size: 1.25rem;
    margin-top: -5px
  }

  #navbar .logo {
    top: 0;
  }

  #navbar i {
    font-size: 2rem;
  }

  /* Header section */

  .header-section img {
    object-position: cover cover;
  }

  /* About section */

  #about .section-flavour-text {
    padding: 5rem 2rem;
    margin: 5rem 0;
  }

}

/* Large screens (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  /* Header section */

  /* scroll indicator to show on larger screens only when header section is hovered */
  .scroll-arrow {
    color: white;
    animation: none;
  }

  .header-section:hover .scroll-arrow {
    animation: arrow-scroller 2s ease-in-out backwards infinite;
  }

  /* About section */

  #about .section-flavour-text {
    font-size: 2rem;
  }
}

/* Extra large screens (desktop or wide screen, 1200px and up )*/
@media screen and (min-width: 1200px) {

  /* About section */
  #about .section-flavour-text {
    font-size: 2.75rem;
  }

  #about .section-flavour-text .display-3 {
    font-size: 5rem;
  }
  
}
